html {
    width: 100%;
    max-width: 100%;
    background-color: #232222;
}

.lista {
    font-family: Arial, Helvetica, sans-serif;
    color: #A66D62;
    padding: 0;
    display: flex; 
    max-width: auto; 
 }

.abc, .abc1 { 
    display: block;
    padding: 16px;
    transition: background 0.3s;
}

.abc a {
    text-decoration: none;
    color: inherit;
}


.abc1{
    font-weight: bold;
 }

.abc:hover {
    background-color: #111111;
 }

.abc1:first-child{
    margin-right: auto;
}

/* Imaganes de gatos */
.gatoImagen {
    margin: auto; /* Centra la lista */
    display: flex; 
    width: 100%;
    max-width: auto; /* Establece un máximo */
    height: 480px;
}


.contenedor-comidas {
    display: flex;          /* Activa Flexbox */
    align-items: center;    /* Alinea verticalmente el texto y la imagen */
    justify-content: space-between; /* Espacia los elementos horizontalmente */
    gap: 10px;              /* Espacio entre el texto y la imagen */
    padding: 150px;          /* Espaciado interno */
}

.textoComida {
    color: white;
    padding-left: 34px;
    font-size: 18px;
    flex: 1;               /* Hace que el texto ocupe el espacio restante */
    text-align: left;      /* Asegura que el texto esté alineado a la izquierda */
}

.gatoComida {
    max-width: 50%;      /* Limita el tamaño de la imagen */
    width: 100%;           /* Hace que sea responsiva */
    height: auto;          /* Mantiene la proporción */
}

.tituloComida{
    display: block;
}


.contenedor-dormido {
    display: flex;          /* Activa Flexbox */
    align-items: center;    /* Alinea verticalmente el texto y la imagen */
    justify-content: flex; /* Espacia los elementos horizontalmente */
    gap: 10px;              /* Espacio entre el texto y la imagen */
    padding: 150px;          /* Espaciado interno */
}

.textodormido {
    color: white;
    padding-left: 34px;
    font-size: 18px;
    flex: 1;               /* Hace que el texto ocupe el espacio restante */
    text-align: left;      /* Asegura que el texto esté alineado a la izquierda */
}

.gatodormido {
    max-width: 50%;      /* Limita el tamaño de la imagen */
    width: 100%;           /* Hace que sea responsiva */
    height: auto;          /* Mantiene la proporción */
}

.titulodormido{
    display: block;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #A66D62;
    font-size: 40px;    
}

.Zona{
  width: auto;              /* Ancho del rectángulo */
  height: 200px;             /* Altura del rectángulo */
  background-color: #E3C5BB; /* Color de fondo */
}
