
        h3 {
            text-align: center;
            color: bisque;
            background-color: black;
        }

        .lista{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333333;
            
        }
        
        .abc{
            float: left;
            display: block;
            color: white;
            padding: 16px;
            text-decoration: none;
        }

        .abc:hover{
            background-color: #111111;
        }

        .div1{
            background-color: #111111;
            color: white;
            text-align: center;
            
        }
        